.section-cards {
  padding-top: var(--spacing-size-md);

  @media screen and (min-width: 768px) {
    padding-top: var(--spacing-size-xxxl);
  }

  .cards-title {
    dsc-icon {
      display: flex;
      padding-bottom: var(--spacing-size-xxs);

      @media screen and (min-width: 768px) {
        padding-bottom: var(--spacing-size-xs);
      }
    }

    dsc-heading {
      display: flex;
      max-width: 447px;
      padding-bottom: var(--spacing-size-xxs);

      @media screen and (min-width: 768px) {
        padding-bottom: var(--spacing-size-nano);
      }
    }

    dsc-paragraph {
      display: flex;
      max-width: 212px;
    }
  }

  .cards-container {
    margin-top: var(--spacing-size-xxl);
    padding-bottom: var(--spacing-size-xs);
    height: 417px;
    overflow-x: scroll;
    display: flex;

    > div {
      min-width: 300px;
    }

    @media screen and (min-width: 1000px) {
      overflow-x: hidden;
      margin-top: var(--spacing-size-huge);
      display: grid;

      > div {
        min-width: auto;
      }
    }
  }
}
